@import '../breakpoints.scss';
@import '../variables.scss';

.filter-rating {
  &__label {
    display: block;
    font-size: $text-medium;
    margin-bottom: 1rem;
  }

  &__range {
    margin-bottom: 1rem;
    width: 100%;

    @include respond-to('small') {
      width: 50%;
    }
  }
}
