@import '../breakpoints.scss';
@import '../variables.scss';

.movie-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  &__item {
    flex: 0 1 100%;
    margin-bottom: 2rem;

    @include respond-to('small') {
      flex: 0 1 47%;
      margin-right: 3%;
    }

    @include respond-to('medium') {
      flex: 0 1 30%;
      margin-right: 3.3%;
    }

    @include respond-to('large') {
      flex: 0 1 23%;
      margin-right: 2%;
    }
  }

  &__title {
    font-size: $text-medium;
    font-weight: $font-weight-bold;
    margin: 0 0 1rem 0;
  }

  &__image{
    display: inline-block;
    margin: 0 1rem 1rem 0;
    vertical-align: text-top;
  }

  &__genres {
    display: inline-block;
    vertical-align: text-top;

    @include respond-to('small') {
      display: block;
    }
  }

  &__genre-title {
    font-size: $text-xs;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  &__genre-text {
    font-size: $text-xs;
  }
}
