@import './variables.scss';
@import './breakpoints.scss';

/**
* Reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
section,
nav,
header,
footer,
article,
small,
strong,
figure,
figcaption,
dl,
dt,
dd,
table,
tbody,
thead,
tfoot,
tr,
th,
td,
fieldset,
legend,
input,
select,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/**
* Typography
*/
body {
  color: $color-grey;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-regular;
  font-size: $text-sml;
  line-height: 1.6;
  margin: 0 1rem;
}

p {
  margin: 0 0 0.5rem;
}

a {
  color: $color-blue;
}

a:focus {
  outline: $outline;
}

.heading1 {
  font-size: $text-large;
  font-weight: $font-weight-bold;

  @include respond-to('small') {
    font-size: $text-xl
  }

  &__sub {
    display: block;

    @include respond-to('medium') {
      display: inline-block;
    }
  }
}

/**
* Base styles
*/
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}
