/**
* Colours
*/
$color-white: #ffffff;
$color-grey: #686873;
$color-blue: #057CB8;

/**
* Typography
*/
$text-xs: 0.875rem;
$text-sml: 1rem;
$text-medium: 1.125rem;
$text-large: 1.5rem;
$text-xl: 2rem;

$font-weight-regular: 400;
$font-weight-bold: 700;

$outline: 3px auto rgba(59, 153, 252, .6);
